# Angular build output
/dist
/tmp
/out-tsc

# Angular cache
/.angular/cache

# Node modules
/node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
.history/

# Ignore package-lock.json if desired
/package-lock.json

# TypeScript build info
*.tsbuildinfo

# Environment variables
.env
.env.*.local