@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0px;
}

:root {
  --color-bg: #f9d7df;
  --color-bg-light: #fce6ec;
  --color-primary: #d56d84;
  --color-primary-light: #eaa2b4;
  --color-primary-dark: #b54c6a;
  --color-text-title: #333;
  --color-text: #4a4a4a;
  --radius-card: 1.5rem;
  --shadow-card: 0 4px 20px rgba(0, 0, 0, 0.08);
}


@layer utilities {
  .animate-fade {
    animation: fadeIn 0.18s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}